*/data*
*.csv
*.h5ad
*.npy
*.tsv
*.rds
*.Rds
*/out_benchmark*
*/out_ablation*
*.snakemake*
*.ipynb_checkpoints*
*__pycache__*
*lightning_logs*
*.png
*.jpg
huggingface*
*not_*
HF*
DeepSpot
IDC
PAAD
workflows/configs/config_DeepCell_*
cell_size_Lung_Xenium
USZ_test
DeepCell
plotting_notebooks/figures/
